h1{
    color: red;
}
p{
    font-size: 16px;
    color: blue;
}
body{
    background-color: #f0f0f0;
}
h2{
    color: green;
}
<<<<<<< HEAD
table
{
    border: 1px solid black;
=======
table{
    border: 1px solid black;
}
a{
    text-decoration: none;
    color: black;
>>>>>>> origin/Testando_a_Main
}